In [ ]:
print(10)
print(10*2)

10
20

In [ ]:
input("enter your name: ")

enter your name: hélène

'hélène'

In [ ]:
# print number 10.10
print(10.10)

10.1

In [ ]:
x=10
age= 18
name = "hélène"
print(name)

hélène

In [ ]:
city = input("where are you from? ")
first_name = input("what's your first name? ")
print (first_name,city)

where are you from? caracas
what's your first name? hélène
hélène caracas

In [ ]:
x= float(input("enter a number: "))
y= int(input("enter a second number: "))
print ("result is",x+y)

enter a number: 34.10
enter a second number: 10
result is 44.1

In [ ]:
x = int(input("enter a number: "))
y = int(input(" enter a second number: "))
z = int(input("enter a third number: "))
print ("the product is:", x * y * z)

enter a number: 1
 enter a second number: 2
enter a third number: 3
the product is: 6

In [ ]:
a= float(input("enter a number:"))
b= float(input("enter a second number:"))
print (a/b)

enter a number:6
enter a second number:3
2.0

In [ ]:
x = float(input("enter a number:"))
y = float(input("enter a second number"))
if y==0:
  print("i cannot divide")
else:
  print(x/y)

enter a number:10
enter a second number0
i cannot divide

In [ ]:
city=input("enter a city:")
if city=="paris":
  print("bonjour")
else:
  print("hi")

enter a city:london
hi

In [ ]:
Ex 1: create a program to ask the user their name and age
If the user is over 18, print you are and adult, if the user is under 18 print you are a kid

In [ ]:
name = input("what is your name? ")
age = int(input("how old are you? "))
if age >= 18:
      print("you are an adult",name)
else:
      print("you are a kid",name)

what is your name? hélène
how old are you? 18
you are an adult hélène

In [ ]:
x = int(input("enter a number: "))
y = int(input("enter a second number: "))
if x>y :
  print("the maximum number is", x)
else:
  print("the maximum number is", y)

enter a number: 10
enter a second number: 20
the maximum number is 20

In [ ]:
score = float(input("enter a score: "))
if score>0 and score< 50 :
  print("fail")
elif score>=50 and score<70 :
  print("pass")
elif score >=70 and score <=100:
  print("distinction")
else:
  print("something is wrong")

enter a score: 23
fail