In [1]:
num = int(input("enter a number: "))
if num>0:
  print("positive")
else:
  print("negative or zero")

enter a number: 20
positive

In [ ]:
num = int(input("enter a number: "))
if num>0:
  positive= True
else:
  positive= False

In [3]:
age = int(input("how old are you? "))
if age<18:
  watch = False
else:
  watch = True

if age>=60:
  senior = True
else:
  senior = False
print(age,watch,senior)

how old are you? 18
18 True False

In [4]:
from concurrent.futures.thread import ThreadPoolExecutor
score = int(input("enter your score: "))
if score<10:
  fail= True
else:
  fail= False

if score>= 15:
  distinction = True
else:
  distinction = False

print(score,fail,distinction)

enter your score: 12
12 False False

In [8]:
temp = int(input("enter a temperature: "))
if temp < 20:
  heat_on = True
else:
  heat_on = False

if heat == True:
  open_windows = False
else:
  open_windows = True

if windows == False:
  ventilation = True
else:
  ventilation = False

print(temp,heat_on,open_windows,ventilation)

enter a temperature: 22
22 False True False

In [14]:
students = ['Mary','Tom','Stelios','Kate']
scores = [15,12,9,18]
print(students[0:2])
print(scores[-2])

['Mary', 'Tom']
9

In [24]:
numbers = [10,20,30,40,50,60,70,80,90]
print(numbers[1])
print(numbers[-2])
print(numbers[0:4])
print(numbers[-3:])
print(numbers[4:6])

20
80
[10, 20, 30, 40]
[70, 80, 90]
[50, 60]